.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #ffc529;
    color: white;
    display: flex;
    align-items: center; 
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    /* justify-content:space-between; */
  }

  .header h1{
    font-size: 70px;
    /* justify-content:space-between; */
  }

  .header h2{
    font-size: 25px;
    color: black;
    padding-right: 60%;
    /* justify-content:space-between; */
  }

  .header HeaderCartButton{
    justify-content: space-between;
    /* margin-left: 900px; */
    
  }


  
  .main-image {
    width: 100%;
    padding-top: 7%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }
  
  @media screen and (max-width: 600px) {
    .header h1 {
      font-size: 35px;
    }

    .header h2 {
        font-size: 13px;
        padding-right: 40%;
      }

    .header HeaderCartButton{
      padding-right: 200px;

    }
  }

